//basic changes for index file
@use './variables.scss' as*;
@use './mixins.scss' as*;

.location {
    display: flex;
    justify-content: center;
    background-color: #EAEAEA;
    gap: 10px;
    padding: 10px;
}
.location i {
    line-height: 2;
}
 a {
    text-decoration: none;
    color: white;
}

.location h1,
.about h1 {
    font-family: $font-body;
}

.about {
    @include flex;
    flex-direction: column;
    background-color: $main-color;
    padding: 30px;
    gap: 10px;
}

.about__subtitle {
    text-align: center;
}

.about_more .more {
    width: 210px;
    height: 50px;
    font-size: 16px;
    border-radius: 43px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.about_more .more:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  }

.restaurants {
    background-color: $main-color;
    padding: 20px;
}

.function {
    margin-bottom: 30px;
}

.function_title {
    position: relative;
    left: 40px;
}

.function_list {
    @include flex-center;
    gap: 20px;
    flex-wrap: wrap;
}

.function_restaurant {
    @include flex;
    background-color: $main-color;
    border-radius: 34px;
    width: 285px;
    height: 72px;
    gap: 20px;
    padding-right: 40px;
}

.number_restaurant {
    border-radius: 150%;
    background-color: $primary-color;
    padding: 8px;
    position: relative;
    right: 10px;
    height: 10px;
    line-height: 0.6;
    color: #EAEAEA;
}

.restaurants_section {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.restaurants_card {
    position: relative;
}

.restaurant_card {
    background-color: white;
}

.restaurants_card--img {
    width: 100%;
    height: 220px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    bottom: -9px;
}

.restaurant_card--img--info {
    position: absolute;
    right: 30px;
    border: 5px;
    background-color: $accent-color;
    transform: translateY(-185px);
    padding: 6px;
    color: #008766;
}

.restaurants_card--like {
    display: inline-block;
    position: absolute;
    right: 40px;
    transform: translateY(-66px);
}
.like-checkbox {
    display: none;
}
.like-label {
    cursor: pointer;
    display: inline-block;
    transition: color 0.3s ease;
    position: relative;
}
.like-label .fas {
 display: none;
}

.like-checkbox:checked + .like-label .fas {
    display: inline-block;
    color:transparent;
    position: absolute;
    right: 0px;
}
.like-label i {
    transition: background-color 0.3s ease;
    background: $gradient;
      background-clip: border-box;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 2;
}

.restaurants_card--img-content {
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 15px;
    color: $text-color;
}

@include responsive (desktop) {
    .restaurants {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .restaurants_card--img {
        width: 490px;
    }

    .restaurants_section {
        column-gap: 98px;
    }
    .restaurants_title{
        position: relative;
        right: 440px;
    }
    .restaurants_card--like {
        position: relative;
        transform: translateX(448px);
        top: -65px;
    }

    .function_title {
        left: 150px;
    }
}