// Variables
$primary-color: #9356DC; // Purple
$secondary-color: #FF79DA; // Pink
$accent-color: #99E2D0; // Turquoise
$text-color: #333333; // Dark text
$background-color: #FFFFFF; // Light background
$gradient: linear-gradient(136deg, $primary-color, $secondary-color);
$main-color:#F6F6F6;
$rare:#353535;

$font-title: 'Shrikhand', cursive;
$font-body: 'Roboto', sans-serif;

$spacing-unit: 10px; // Base spacing unit for padding/margin
$extra_space: 20px;
 